html, body {
  background-color: #17315c;
}

.hangul_container {
  background-color: #17315c;
  height: 90%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#canvas_wrapper {
  background-color: #17315c;
}

#canvas {
  background-color: #fff;
  position: relative;
  height: 90%;
  min-height: 70%;
  max-width: 500px;
  margin-top: 0.5rem;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 0.5rem;
  z-index: 1;
}

#input_wrapper {
  max-width: 500px;
  background-color: #17315c;
  margin: auto;
  position: relative;
  padding-top: 0.5rem;
}

#points {
  color: wheat;
  position: absolute;
  font-size: 1.5rem;
  right: 77%;
  display: inline-block;
}

#letter_input {
  position: absolute;
  width: 50%;
  right: 25%;
  display: inline-block;
}

#wrong_answer_hint {
  display: none;
  position: absolute;
  background-color: red;
  border-radius: 0.3rem;
  border-style: solid;
  border-color: red;
  width: 50%;
  left: 25%;
  z-index: 2;
  top: 12%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  font-size: 3rem;
}

#wrong_answer_hint::first-letter {
  font-weight: bold;
}

@media (max-width: 767px) {
  #menu {
    height: 15vh;
  }
  #canvas_wrapper {
    height: 65vh;
  }
  .hide {
    display: none;
  }
}

#menu {
  background-color: #17315c;
}

#speed_menu {
  display: none;
}

table .exam {
  border-spacing: 0.25rem;
  border-collapse: separate;
  line-height: 1;
  /* display: none; */
}

.hangul_row {
  background-color: #17315c;
  height: 95vh;
}

.hangul_col {
  background-color: red;
}

.canvas_letter {
  position: absolute;
  right: -100px;
  font-size: 3rem;
  color: black;
  z-index: 0;
}

.canvas_letter.cleared {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 0;
}

div.red_text {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 3500ms;
          transition-duration: 3500ms;
  color: red;
}

.btn {
  margin: 5px 5px 5px 5px;
}

.exam_row {
  margin-left: 0;
}

.exam_item {
  display: inline;
}

.exam_box {
  border-radius: 3px;
  height: 12px;
  width: 12px;
  display: inline-block;
}

.exam_box.passed {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  background-color: green;
}

.exam_box.failed {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  background-color: red;
}

#exams {
  background-color: #17315c;
  display: none;
}

#exams .exam {
  background-color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

#syllabus {
  background-color: cadetblue;
  display: none;
  margin-bottom: 0.5rem;
}

#syllabus button.active {
  border-width: 3px;
  border-color: black;
}

#choose_exam {
  display: none;
  background-color: cadetblue;
  margin-bottom: 0.5rem;
}

#choose_exam span {
  margin: 5px 5px 5px 5px;
  color: white;
  font-size: 1.2rem;
}

#commands {
  background-color: cadetblue;
}

#commands button.active {
  border-width: 3px;
  border-color: black;
}
/*# sourceMappingURL=styles.css.map */