html, body {
  background-color: #17315c;
}

.letter_container {
  background-color: #17315c;
  height: 90%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#canvas_wrapper {
  background-color: #17315c;
}

#canvas {
  background-color: #fff;
  position: relative;
  height: 90%;
  min-height: 70%;
  max-width: 500px;
  margin-top: 0.5rem;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 0.5rem;
  z-index: 1;
}

#input_wrapper {
  max-width: 500px;
  background-color: #17315c;
  margin: auto;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
}

#points, #block_speed {
  color: wheat;
  font-size: 1.5rem;
  right: 77%;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#letter_input {
  width: 50%;
  right: 25%;
  display: inline-block;
}

#wrong_answer_hint {
  display: none;
  position: absolute;
  background-color: red;
  border-radius: 0.3rem;
  border-style: solid;
  border-color: red;
  width: 50%;
  left: 25%;
  z-index: 2;
  top: 12%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  font-size: 3rem;
}

#wrong_answer_hint::first-letter {
  font-weight: bold;
}

@media (max-width: 767px) {
  #menu {
    height: 15vh;
  }

  #canvas_wrapper {
    height: 65vh;
  }

  .hide {
    display: none;
  }
}
#menu {
  background-color: #17315c;
}

.sub_menu {
  background-color: cadetblue;
  margin-bottom: 0.5rem;
}
.sub_menu span {
  margin: 5px 5px 5px 5px;
  color: white;
  font-size: 1.2rem;
}

#speed_menu {
  display: none;
}

.letter_row {
  background-color: #17315c;
  height: 95vh;
}

.canvas_letter {
  position: absolute;
  right: -100px;
  font-size: 3rem;
  color: black;
  z-index: 0;
}
.canvas_letter.cleared {
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 1s;
  opacity: 0;
}

div.red_text {
  transition-property: color;
  transition-timing-function: ease;
  transition-duration: 3500ms;
  color: red;
}

.btn {
  margin: 5px 5px 5px 5px;
}

.exam_row {
  margin-left: 0px;
}

.exam_item {
  display: inline;
}

.exam_box {
  border-radius: 3px;
  height: 12px;
  width: 12px;
  display: inline-block;
}
.exam_box.passed {
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: linear;
  background-color: green;
}
.exam_box.failed {
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: linear;
  background-color: red;
}

#exams {
  background-color: #17315c;
}
#exams .exam {
  background-color: lightblue;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

#choose_exam_menu {
  display: none;
}

#commands_menu {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
}
#commands_menu button.active {
  border-width: 3px;
  border-color: black;
}

#syllabus_menu {
  display: none;
}
#syllabus_menu button.active {
  border-width: 3px;
  border-color: black;
}

/*# sourceMappingURL=styles.css.map */
